# Email for SSL Let's Encrypt.
{
	email {$SSL_EMAIL}
	log {
		level WARN
		format console
	}
}

# Vaultwarden service.
{$SUBDOMAIN}.{$DOMAIN_NAME} {
	# Security Headers
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		X-Robots-Tag "noindex, nofollow"
	}

	# Redirect entire traffic to the Vaultwarden container.
    reverse_proxy vaultwarden:80 {
        header_up X-Real-IP {remote_host}
    }
}
